@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300..700&family=Play:wght@400;700&display=swap');
*{
  margin:0;
  padding:0;
}
#header {
  color: white;
  position: fixed;
  width:100%;
  height: 10vh;
  text-align: center;
  background-image: url("https://phys.msu.ru/rus/about/structure/Mediacenter/img/%D1%81%D0%B8%D0%BD%D1%8F%D1%8F%202022.png");
  background-size: contain;
  border-bottom: 0.5vh solid silver;
}
#header button{
  width: 2%;
  height: 4vh;
}
#header input{
  margin-top:1vh;
  height:4vh;
}
#aside {
  font-family: "Play";
  border-right: 0.25vw solid silver;
  position: fixed;
  top: 10.45vh;
  width:3%;
  height: 79.55vh;
  background-color:#FDD9B5;
}
#aside a, #aside p,#aside img{
  visibility: hidden;
}
#aside a{
  text-decoration: none;
}
#aside img{
  border-radius: 100%;
  margin-left:5%;
  width:90%;
}
#aside:hover{
  width:20%;
}
#aside:hover p,#aside:hover a,#aside:hover img{
  visibility: visible;
}
#main {
  font-family: "Comfortaa";
  padding-top:10.45vh;
  margin-left:3.2%;
  width:96.75%;
  padding-bottom:10vh;
}
#main button{
  border-radius: 0;
  border: none;
  background-color:#FFE4B5;
  font-family: "Comfortaa";
  width:100%;
  height: 100px;
}
#main button:active{
  transition-duration: 0.25s;
  background-color: #E0FFFF;
}
#main h{
  color: gray;
}
#footer {
  border-top: 0.5vh solid silver;
  top:89.95vh;
  position: fixed;
  width:100%;
  height: 10vh;
  background-color:#FDD9B5;
  font-family: "Comfortaa";
}
#footer button{
  border: none;
  background-color: #FDD9B5;
  padding:4vh 50%;
  color: black;

}
#footer button::after{
  content: "Направления";
}
#footer button:hover{
  transition-duration: 0.4s;
  background-color: #E0FFFF;
}
#footer button:active{
  transition-duration: 0.25s;
  background-color: #40E0D0;
}
